.background    { background: rgb(198, 173, 193);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(122, 9, 9); }
.wall          { background: rgb(173, 212, 214);   }
.floater		{background: rgb(206, 64, 175);}

.actor  { position: absolute;  }
.player { background: rgb(64, 64, 64); }
		background-image: url("spriteimage.png")(would need to be in the folder)(needs to be 20x20 px, or resize)
		background: url
		background-repeat
		background-size: 300px 100px
		(find out how to scale bg elements?)
.lost .player{ background: rgb(150, 101, 101);}
.coin {background: rgb(241, 229, 89);}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}


